<div class="container mt-4">
  <h2>Restaurants</h2>
  <div class="cards my-3"> 
    <% @restaurants.each do |restaurant| %>
      <div class="card-trip">
        <%= image_tag "https://loremflickr.com/320/240/#{restaurant.category}food" %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to restaurant.name, restaurant_path(restaurant), style: 'text-decoration: none; color: black' %> </h2>
            <p><%= restaurant.address %></p>
            <p><%= restaurant.phone_number %></p>
          </div>
          <h2 class="card-trip-pricing"><%= restaurant.category.capitalize %></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
